version: '3'
services:
  web:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      # O TRUQUE: Mapeamos a pasta raiz (.) para a pasta HTML do Nginx
      - ./:/usr/share/nginx/html
